<h3>My Team List</h3>

<form (ngSubmit)="createTeam()" #createForm="ngForm" class="input-group input-group-lg">
    <input type="text" class="form-control" placeholder="Create New Team" [(ngModel)]="model" name="newTeam" />
    <div class="btn btn-primary icon-camera input-group-addon" (click)="createTeam()">
        <span class="glyphicon glyphicon-plus"></span>
    </div>
</form>

<table class="table">
    <tbody>
        <tr *ngFor="let item of teams">
            <td class="padding-top-15"><span class="{{item.completed == true ? 'strike' : 'unstrike'}}">{{item.name}}</span></td>
            <td width="50">
                <div class="btn btn-danger icon-camera" (click)="deleteTodo(item)">
                    <span class="glyphicon glyphicon-remove-sign"></span>
                </div>
            </td>
        </tr>
    </tbody>
</table>

